
body {
    font-family: sans-serif;
    text-align: center;
    margin: 2em;
    background-color: #ffffff;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

select {
    margin: 0 0.5em;
    padding: 0.5em;
    font-size: 1em;
}

#result {
    margin-top: 2em;
    font-size: 1.2em;
}


.scale-table {
    margin: 1em auto;
    border-collapse: collapse;
}

.scale-table th, .scale-table td {
    border: 1px solid #999;
    padding: 0.5em 1em;
    font-size: 1.1em;
}
